.visualizer {
    display: flex;
    align-items: end;
    gap: 5px;
    margin-top: 20px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
}

.bar {
    width: 30px;
    background-color: #4ade80;
    text-align: center;
    color: #000;
    font-weight: bold;
}
