<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TreeAndGraph</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3"> 
             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> 
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Giới thiệu chung
            </NavLink> 
      </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stack-queue-list-visualization"> 
                 <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Stack, Queue, List
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="sortVitualizer">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sắp xếp 
             </NavLink> 
         </div>

         <div class="nav-item px-3"> 
             <NavLink class="nav-link" href="heapsort"> 
                 <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> HeapSort 
             </NavLink> 
         </div> 

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dothi">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Graph
            </NavLink>
        </div>
   

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="tree-visualizer">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cây
            </NavLink>
        </div>

        

         <div class="nav-item px-3"> 
             <NavLink class="nav-link" href="binary-search-tree"> 
                 <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cây Nhị phân tìm kiếm
             </NavLink> 
         </div> 

     

         <div class="nav-item px-3"> 
             <NavLink class="nav-link" href="separatechaining"> 
                 <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Bảng băm 
             </NavLink> 
         </div> 
        
    </nav>
</div>

